body {
    overflow: hidden;
}

#playingAreaPanel,
#sidePanel {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

#playingAreaPanel {
    padding: 2px 18px 18px;
}

#playingArea {
    position: relative;
    width: 648px;
    height: 384px;
}

.player {
    position: absolute;
    width: 36px;
    height: 48px;
    background-size: 36px 48px;
}

.boy.left {
    background-image: url("img/boy_left.png");
}

.boy.up {
    background-image: url("img/boy_up.png");
}

.boy.right {
    background-image: url("img/boy_right.png");
}

.boy.down {
    background-image: url("img/boy_down.png");
}

.girl.left {
    background-image: url("img/girl_left.png");
}

.girl.up {
    background-image: url("img/girl_up.png");
}

.girl.right {
    background-image: url("img/girl_right.png");
}

.girl.down {
    background-image: url("img/girl_down.png");
}

.dog.left {
    background-image: url("img/dog_left.png");
}

.dog.up {
    background-image: url("img/dog_up.png");
}

.dog.right {
    background-image: url("img/dog_right.png");
}

.dog.down {
    background-image: url("img/dog_down.png");
}

.playerName {
    position: absolute;
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
}

.me {
    color: blue;
}

.ball {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("img/ball.png");
    background-size: 32px 32px;
}

#playerPanel,
#joinPanel {
    width: 160px;
    padding: 15px;
}

#playerPanel {
    height: 204px;
}

#joinPanel {
    height: 139px;
    border-top: 1px solid black;
}

.panelTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#playerList {
    height: 173px;
    overflow: hidden;
    margin-top: 8px;
}

.playerRow {
    margin-bottom: 4px;
}

.playerRowName,
.playerRowPoints {
    display: inline-block;
    vertical-align: top;
}

.playerRowName {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
}

.playerRowPoints {
    width: 40%;
    text-align: right;
}

#nameInput {
    width: 146px;
    padding: 5px;
    margin-top: 10px;
}

#genderInput {
    margin-top: 10px;
}

#girlInput {
    margin-left: 18px;
}

#joinButton {
    width: 100%;
    font-weight: bold;
    padding: 5px;
    margin-top: 15px;
}

.instructions {
    font-size: 20px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
